@model TeamManageSystem.Models.Account.TMembers
@{
    ViewData["Title"] = "EditMembers";
    Layout = "~/Views/Shared/_Layout_forDashboard.cshtml";
}
<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/background_53876-32169.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .custom-btn {
        background-color: antiquewhite; /* Replace with your desired background color */
        color: black; /* Replace with your desired text color */
        /* Add any other custom styling you need */
    }

    .rounded-button {
        height: 45px;
        width: 45px;
        border-radius: 50%; /* Set border radius to 50% to create a circular button */
        padding: 10px; /* Add padding for spacing within the circular button */
    }
</style>
<div style="display: flex; align-items: center; justify-content: space-between;">
    <a asp-action="ViewTeam" class="btn custom-btn m-2 rounded-button">
        <i class="fas fa-arrow-left" style="color: black;"></i>
    </a>
    <h2 class="text-center" style="color:black; margin: 0; flex-grow: 1;">Edit Members</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4 offset-4 border  rounded p-lg-4" style="background-color: lightcyan; margin-top: 30px">
        <form asp-action="EditMembers" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TMname" class="control-label"></label>
                <input asp-for="TMname" class="form-control" style="background-color: aliceblue;" />
                <span asp-validation-for="TMname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" style="background-color: aliceblue;" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" style="background-color: aliceblue;" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div><h6>    </h6></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

